body {
    margin: 0;
    font-family: 'Segoe UI';

}


header {
    background-color: rgb(0, 0, 0);
    padding-block: 2rem;
    padding-inline: 1rem;
}

section {
    background-color: rgb(146, 216, 110);
}

.primary-navigation {
    display: flex;

    gap: 1rem;

    list-style: none;
    color: 111;
}

nav {
    color: rgb(33, 12, 216);

    text-decoration: underline;

}